.order {
  height: 500px;
  width: 100%;
  display: flex;
}

.order-text, .order-image {
  width: 50%;
}

.order-text {
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  align-items: flex-end;
}

.order-text .order-title,
.order-text .order-description {
  font-family: var(--font-alt);
  color: var(--text-color);
}
.order-text .order-title {
  font-size: 100px;
  letter-spacing: 3px;
  text-align: right;
}

.order-description {
  letter-spacing: 3px;
}

.order-image img {
  max-width: 50%;
  max-height: 50%;
  box-shadow: 4px 4px 10px black;
}

.order-image img:nth-child(1) {
  transform: scale(.9);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}

.order-image img:nth-child(1):hover {
  background: black;
}

.order-image img:nth-child(2) {
  transform: scale(.9) translateX(-1.3rem);
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.order-image img:nth-child(3) {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.order-image img:nth-child(4) {
  transform: translate(0.8rem,4rem);
  position: absolute;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}